Library/assetDatabase3
*.dwlt
Library/metadata
Library\metadata
*.mdb
*.stamp
*.log
Temp/UnityLockfile
ProjectSettings/ProjectVersion.txt
Library/metadata/d9/d929147d9f78c487397abb40f2c257b0
*.mdb
*.stamp
*.bin
*.log
Library/ScriptMapper
*.stamp
*.mdb
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/EditorInstance.json
Library/expandedItems
Library/CurrentLayout.dwlt
Library/metadata/**/
Library/metadata/*
Library/metadata/**/*
Library/metadata/**/**
*.csproj
*.sln
Library/...
Library/..
Library/.
Library/ScriptMapper
.vs/tstGame/v15/.suo
.vs/tstGame/v15/Server/sqlite3/storage.ide
.vs/tstGame/v15/Server/sqlite3/db.lock
.vs/tstGame/v15/Server/sqlite3/storage.ide-shm
.vs/tstGame/v15/Server/sqlite3/storage.ide-wal
Library/AnnotationManager
